header{
    max-width: 550px;
    margin: 50px auto;
    margin-bottom: 20px;
    padding: 0 20px;
    background-color: transparent;
    font-size: 14px;
}

@media only screen and (max-width: 630px) {
    header {
        max-width: 630px;
      margin-top: 60px;
    }
  }